.tabs {
    height: 10rem;
    .tabButtons {
        display: flex;
        justify-content: space-between;
        button {
            width: 10rem;
            height: 3rem;
            margin-bottom: 0.5rem;
            border-radius: 10px;
            transition: background-color 0.3s ease, border-radius 0.5s ease;
        }
        button:hover {
            cursor: pointer;
            background-color: black;
            color: white;
            border-radius: 30px;
        }
    }
    img {
        border-radius: 20px;
    }
}






