.ImageTabs {
    width: 26rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    text-align: center;
    img {
        border-radius: 20px;
        width: 20rem;
        height: 30rem;
        /* width: 25rem;
        height: 37.5rem; */
        animation: fadeIn 0.5s ease-in-out;
    }
      p {
        font-size: 16px;
        animation: fadeIn 0.5s ease-in-out;
      }
      
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      /* transform: translateY(20px); */
    }
    100% {
      opacity: 1;
      /* transform: translateY(0); */
    }
  }